.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

h2 {
    color: #343a40;
    font-weight: bold;
    margin-bottom: 20px;
}

.table {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.table td {
    text-align: center;
}

button {
    min-width: 100px;
}

.botao {
    margin: 5px 5px 5px 5px;
}

.botao-adicionar {
    margin-bottom: 10px;
}

.input-margin {
    margin: 0px 0px 10px 0px;

}

.label-destaque {
    font-weight: bold; /* Deixar o texto em negrito */
    color: #000; 
    font-size: 1.1rem; /* Aumentar o tamanho da fonte */
    margin-bottom: 5px; /* Espaço abaixo do rótulo */
    display: block; /* Faz o rótulo ocupar toda a linha */
}